name: Run XML ID creation

on:
  pull_request_review:
    types: [submitted]
  pull_request:
    types: [opened, synchronize]

jobs:
  run-xslt:
    if: |
      github.event.review.state == 'approved' ||
      github.event.pull_request.user.login == 'jeffreycwitt'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}
        fetch-depth: 0 # Fetch all history for all branches and tags


    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Download Saxon
      run: |
        wget https://repo1.maven.org/maven2/net/sf/saxon/Saxon-HE/10.6/Saxon-HE-10.6.jar -O saxon.jar

    - name: Download XSL file from Gist
      run: |
        wget https://gist.githubusercontent.com/jeffreycwitt/3c6c73b624000b6a94265d991aec8494/raw/08d0166c4f320200e18bc7d4d8a210e4ff7b1aa2/xmlid-creation.xslt -O stylesheet.xsl

    - name: Identify modified XML files
      id: modified-xml
      run: |
        set -x
        MODIFIED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep '\.xml$' || true)
        echo "Modified XML files: $MODIFIED_FILES"
        echo "::set-output name=files::$(echo $MODIFIED_FILES | tr '\n' ' ')"

    - name: Run XSLT transformation
      if: steps.modified-xml.outputs.files != ''
      run: |
        echo ${{ steps.modified-xml.outputs.files }}
        for file in ${{ steps.modified-xml.outputs.files }}; do
          echo $file
          dir_name=$(dirname "$file")
          echo $dir_name
          base_file=$(basename "$file")
          echo $base_file
          if grep -q "<transcription use-for-extraction=\"true\">${base_file}</transcription>" ${dir_name}/transcriptions.xml; then
            echo "Processing $file"
            java -jar saxon.jar -s:$file -xsl:stylesheet.xsl -o:$file
          else
            echo "No matching transcription file found for $file"
          fi
        done

    - name: Commit and push changes
      if: steps.modified-xml.outputs.files != ''
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        git config --global user.name 'jeffreycwitt'
        git config --global user.email 'jeffreycwitt@gmail.com'
        git add ${{ steps.modified-xml.outputs.files }}
        if git diff-index --quiet HEAD; then
          echo "No changes to commit"
        else
          git commit -m 'Apply XSLT transformation to modified XML files'
          git push origin HEAD:${{ github.event.pull_request.head.ref }}
        fi